h1 {
    text-align: center;   
    color: #fff;
}

.jumbotron {
    background-color: #e84756;
}

.card {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6f7f9;
}

.card-header {
    background-color: #0077f7;
}

li {
    background-color: #ffff;
}

ul {

}

.title, .name {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.employee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 

}